#IDEA
*.iml
.idea/
*.ipr
*.iws

#Eclipse
.classpath
.project
.settings/

#Mac
.DS_Store

#Maven
logs/
target/

#LOG
*.log
*.log.*.gz
dims-batch-gx/src/generated/
dims-batch/src/generated/
dims-web/src/main/resources/download/dims-batch-*.jar