<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head(~{::title},~{})">
  <title>系统管理 - 数据核查管理系统</title>
</head>
<body th:replace="fragments/layout::body(~{::#nav}, ~{::#content}, ~{::script})">
<ul id="nav" class="x-hidden">
  <li>
    <a class="nav-item" href="user" th:href="@{/system/user}">
      <div class="nav-item-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
      <span>用户管理</span>
    </a>
  </li>
  <li>
    <a class="nav-item" href="role" th:href="@{/system/role}">
      <div class="nav-item-icon"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
      <span>角色管理</span>
    </a>
  </li>
  <li>
    <a class="nav-item" href="permission" th:href="@{/system/permission}">
      <div class="nav-item-icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
      <span>权限管理</span>
    </a>
  </li>
  <li>
    <a class="nav-item" href="log" th:href="@{/system/log}">
      <div class="nav-item-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
      <span>日志管理</span>
    </a>
  </li>
</ul>
<div id="content" class="x-hidden">
  <div class="container">
    <ul>
      <li>
        <div class="feature"><i class="fa fa-database" aria-hidden="true"></i></div>
        <div class="title">DATA</div>
        <div class="description">以数据为核心</div>
      </li>
      <li>
        <div class="feature"><i class="fa fa-link" aria-hidden="true"></i></div>
        <div class="title">INDEX</div>
        <div class="description">以指标为量化</div>
      </li>
      <li>
        <div class="feature"><i class="fa fa-desktop" aria-hidden="true"></i></div>
        <div class="title">REPORT</div>
        <div class="description">以质量为目标</div>
      </li>
    </ul>
  </div>
</div>
<script src="../static/views/system/handler.js" th:src="@{/static/views/system/handler.js}"></script>
<script src="../static/views/system/router.js" th:src="@{/static/views/system/router.js}"></script>
<script>
  Ext.onReady(function () {

    Ext.QuickTips.init(true);

    var tabs = new Ext.TabPanel({
      id: 'ext-content-tab',
      border: true,
      region: 'center',
      activeTab: 0,
      items: [{
        id: 'ext_tab_system',
        border: false,
        title: '<i class="fa fa-universal-access" aria-hidden="true"></i> 系统管理',
        layout: 'border',
        items: [{
          border: false,
          region: 'center',
          contentEl: 'content'
        }]
      }]
    });

    new Ext.Viewport({
      layout: 'border',
      title: 'Ext Layout Browser',
      layoutConfig: {
        minWidth: 1000,
        minHeight: 600
      },
      items: [{
        xtype: 'box',
        region: 'north',
        height: 74,
        applyTo: 'header'
      }, {
        xtype: 'box',
        region: 'south',
        height: 21,
        applyTo: 'footer'
      }, {
        region: 'center',
        border: false,
        layout: 'border',
        margins: '2 2 2 2',
        items: [tabs, {
          region: 'west',
          border: true,
          width: 250,
          split: true,
          minSize: 160,
          maxSize: 400,
          tbar: [{
            text: '<i class="fa fa-bars" aria-hidden="true"></i> 导航',
            disabled: true
          }, '->', {
            text: '&nbsp;<i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;',
            disabled: true
          }],
          autoScroll: true,
          contentEl: 'nav',
          bodyStyle: 'background-color:#f0f0f0;'
        }]
      }],
      renderTo: Ext.getBody()
    });
    router();
  });

</script>
</body>
</html>